*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Position Practice */

h1 {
    margin: 0;
    padding: .25em 0;
}

.parent {
    position: relative;
    background-color: blue;
    padding: .25em;
    font-size: 2em;
}

.child-one {
    background-color: blueviolet;
    position: sticky;
    padding: .5em;
    top: 0px;
}

.child-two {
    background-color: green;
    padding: .5em;
}

.child-three {
    background-color: pink;
    padding: .5em;
}

/* Flexbox Practice */
.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
}

.nav-list li {
    /* flex-grow: 1; */
    flex-shrink: 1;
}

a {
    color: white;
    text-decoration: none;
}

li {
    padding: .5em;
    border: 1px solid blue;
}

.columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;


    border: 10px solid orange;
}

.columns > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.card:nth-child(2) {
    background-color: pink;
    align-self: flex-end;
}

.card {
    padding: .25em;
    margin: 0;
    background-color: green;
}

h2 {
    padding: .1em;
    margin: 0;
}

p {
    margin: 0;
}