*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Position Practice */
section {
    background-color: blue;
    padding: .25em;
    font-size: 2em;
    display: none;
}

h1 {
    margin: 0;
    padding: .25em 0;
}

.parent {
    position: relative;
}

.child-one {
    background-color: blueviolet;
    position: sticky;
    padding: .5em;
    top: 0px;
}

.child-two {
    background-color: green;
    padding: .5em;
}

.child-three {
    background-color: pink;
    padding: .5em;
}

/* Flexbox Practice */
.nav-list {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

li {
    padding: .5em;
    border: 1px solid blue;
}